#number-1 {
  font-size: 13px;
}
#number-2 {
  font-size: 13px;
}
.appbar {
  width: 100%;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(232, 73, 122, 1) 88%,
    rgba(246, 71, 111, 1) 93%,
    rgba(252, 70, 107, 0.7707457983193278) 99%
  );
  position: fixed;
}

@media (max-width: 900px){
  .header1 {
    display: none;
  }
}
